@tailwind base;
@tailwind components;
@tailwind utilities;
:root{
    --purple-color: #8d27ae;
    --pink-color:#d9176d;
    --grey-color:#f3f3f3;
    --white-color:#fff;
    --black-color:#010101;
    --light-black-color:#717171;
    --transition: all 300ms ease-in-out
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
}
body{
    font-size: 1.6rem;
    line-height: 1.7;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--black-color);
}
ul{
    list-style-type: none;
}
button{
    outline: 0;
    border: none;
    font-family: inherit;
    background: transparent;
    cursor: pointer
    ;
}
img{
    width: 100%;
    display: block;
}
input{
    border: none;
    outline: 0;
    font-family: inherit;
    font-size: 1.6rem;

}
.resize-animation-stopper *{
  animation: none !important;
  transition: none !important;
}
.bg-pink{background-color: var(--pink-color);}
.bg-pirple{background-color: var(--purple-color);}
.bg-white{background-color: var(--white-color);}

.text-black{color: var(--black-color);}
.text-purple{color: var(--purple-color);}
.text-white{color: var(--white-color);}
.text-light-black{color: var(--gray-color);}
.text-center{align-items: center;}
.text-capitalize{text-transform: uppercase;}
.text-italic{font-style: italic;}


.container{
    max-width: 1200px;
    margin: o auto;
    padding: 0 2rem;
}
.flex{
    display: flex;
    flex-direction: column;
}
.section-title h2{
    font-weight: 600;
    text-transform: uppercase;
    padding: 18px 0 24px 0;
}